/*****INDHOLDSFORTEGNELSE*****/

/***GENERELLE INDSTILLINGER***/
/***ANIMATIONS KLASSER***/
/***BURGERMENU****************/
/***SECTION 1**************/
/***SECTION 2******************/
/***SECTION 3**************/
/***SECTION 4*****************/
/***SECTION 5*****************/
/***SECTION 6*****************/
/***KNAPPER*****************/
/***SECTION OM*****************/
/***FOOTER*****************/
/*********MEDIAQUERY**********/





/***GENERELLE INDSTILLINGER***/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

section {
    margin: 0 auto;
    /*sørger for at mit indhold er i midten*/
    max-width: 1000px;
    padding: 20px;
}

h1 {
    font-family: 'Playfair Display 700', serif;
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    margin-top: 9vw;
}

h2 {
    font-family: 'Playfair Display 700', serif;
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: 'Playfair Display 700', serif;
    font-size: 1.6rem;
    color: black;
    margin-bottom: -10px;
    margin-top: 0vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: black;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: left;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 300;
    text-align: center;
    padding: 1px 15px 15px 15px;
}

.textlink {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: left;
    text-decoration: underline;
}

a.textlink:visited {
    color: blue;
}

/***ANIMATION'S KLASSER****************/

.hidden {
    opacity: 0;
    transform: translateX(-10%);
}


.billede {
    margin: 0;
}

.billede:hover {
    cursor: pointer;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes screenshot_scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.01);
    }
}


/***BURGERMENU****************/

header {
    position: relative;
    height: 0;
    /*hvis ikke vi har den her, så fylder headeren hele forsiden*/
}

nav {
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    float: right;
    text-align: right;
}

#menulinje a {
    color: black;
    font-size: 2.2rem;
    text-align: justify;
    font-family: 'Playfair Display 700', serif;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    line-height: 2.5vw;
}

#menulinje a:visited {
    color: black;
}

#menulinje a:active {
    color: black;
}

#menulinje a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#menulinje a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/*How to make a line under text (2 ovenover): first we need to set the a's position to relative and a:before to absolute. Then we set the a:before's X scale to 0 and then again the x-scale to 1. We hide it with visibility: hidden for browsers that don’t support CSS animations. */

/*understående er effekter så links skifterfarve samt laver en lille bevægelse (li.link:hover) og forstørres i str (a:hover)*/

#menulinje a:hover {
    color: black;
    font-size: 2.5rem;
    font-family: 'Playfair Display 700', serif;
    ;
    font-weight: 400;
}

li.link:hover {
    cursor: pointer;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes screenshot_scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(12);
    }
}


#menuknap {
    color: black;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 0px;
    padding-right: 4rem;
    margin-bottom: -15px;
}

/* så menuen flyver ind */

#menulinje {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top right;
    padding-right: 4rem;

}

/***SECTION 1**************/


#section_1 {
    background-image: url(img/splashbillede%201%20sem%20eksamen.jpg);
    background-size: cover;
    max-width: none;
    width: 100%;
    height: 100vh;

}

/***SECTION 2**************/

.section_wrapper2 {
    height: 80vh;
    width: 80vw;
}

.billed_sprite {
    background-image: url(img/handwriting.png);
    background-size: cover;
    width: 63vw;
    height: 100vh;
    position: absolute;
    left: 40vw;
    margin: -6vw;

}

.tekst {
    padding: 4vw;
    margin-left: 26vw;
    height: 20vh;
    width: 35vw;
    line-height: 3rem;
    font-style: italic;

}

/***SECTION 3**************/

#section_3 {
    margin-bottom: 10vw;
}

/***SECTION 4**************/

#section_4 {
    margin-bottom: 6vw;
}

/***SECTION 5**************/

#section_5 {
    margin-bottom: 6vw;
}

/***SECTION 6**************/

#section_6 {
    margin-bottom: 6vw;
}

/***SECTION OM**************/

#section_om {
    margin-bottom: 5vw;
}


/***KNAPPER**************/


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.dokumentationsknap {
    width: 18vw;
    height: 12vw;
    margin-top: 2vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.dokumentationsknap:hover {
    opacity: 0.6;
    cursor: pointer;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.plakatsknap {
    width: 15vw;
    height: 12vw;
    margin-top: 2vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;

}

.plakatsknap:hover {
    opacity: 0.6;
    cursor: pointer;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


@keyframes screenshot_scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

#backtotop {
    display: none;
    /* Hidden by default. display: none; is commonly used with JavaScript to hide and show elements without deleting and recreating them. Take a look at our last example on this page if you want to know how this can be achieved.The <script> element uses display: none; as default.  */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 35px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 4px solid;
    /* border */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 13px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

/*********FOOTER**********/

footer {
    background-color: #ADADAD;
    padding: 3vw;
    border-top: solid white 2px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

footer p {
    color: black;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

footer a.kontaktlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

footer a.kontaktlink:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

footer a.kontaktlink:visited {
    color: white;
}

footer a.kontaktlink:active {
    color: white;
}

footer a.kontaktlink:hover {
    color: white;
}

.grid_col {
    display: flex;
    flex-direction: row;
}

footer img {
    width: 4vw;
    margin: 0vw;
    margin-top: 0vw;
    margin-top: 1vw;

}

/*********MEDIAQUERY**********/

@media only screen and (max-width: 320px) {
    #section_1 {
        background-image: url(img/mobilsplash.jpg);
        background-size: cover;
        width: 100%;
        height: 85vh;

    }

}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    #section_1 {
        background-image: url(img/udenbox.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;

    }

    #menulinje a {
        line-height: 3rem;
    }
}

@media only screen and (max-width: 720px) {
    #section_om .plakatsknap {
        width: 40vw;
        height: 15vw;
        margin-top: 2vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
    }

    .dokumentationsknap {
        width: 40vw;
        height: 15vw;
        margin-top: 2vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        margin-bottom: 10vw;
        margin-top: 5vw;

    }

    #menulinje a {
        line-height: 3.5rem;
    }
}

@media (min-width: 720px) and (max-width: 900px) {
    #section_om .plakatsknap {
        width: 30vw;
        height: 15vw;
        margin-top: 2vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
    }

    .dokumentationsknap {
        width: 30vw;
        height: 15vw;
        margin-top: 2vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        margin-bottom: 10vw;
        margin-top: 5vw;

    }
}


@media only screen and (min-width: 800px) {


    #section_3 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
    }


    #section_4 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;

    }

    #section_5 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;

    }

    #section_6 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;

    }


    #section_om .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vw;

    }


}


@media only screen and (max-width: 800px) {

    #section_2 .section_wrapper2 {
        height: 50vh;
        width: 80vw;
    }

    .billed_sprite {
        background-image: url(img/handwriting.png);
        background-size: cover;
        width: 86vw;
        height: 55vh;
        position: absolute;
        left: 19vw;
        margin: -6vw;
    }

    .tekst {
        padding: 8vw;
        margin-left: 3vw;
        height: 20vh;
        width: 63vw;
        line-height: 3rem;
        font-style: italic;
    }

}
